.form-wrapper {
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 280px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.8); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: "Bricolage Grotesque", sans-serif;
}

h2 {
 color: #ff8c00;
 font-family: 'Pacifico';
 font-size: 35px;
 margin-bottom: 10px;
}

.form-group {
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color:#00bfff;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

input:disabled {
  background-color: #eee;
  color: #666;
}

button {
  width: 100%;
  padding: 10px;
  background-color:#ff8c00;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #e67e00;
}

.error-message {
  color: #dc3545;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

.reenviar-link {
  color: #007bff;
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
  margin-top: 10px;
}