/* HEADER */
header {
  background-color: #ff7b00;
  color: white;
  padding: 10px 30px; /* ← reducido */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8 rem; /* ← más pequeño */
  font-weight: bold;
  margin: 0;
  font-family: "Pacifico", cursive;
}

nav {
  display: flex;
  gap: 25px; /* ← menor separación */
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTENIDO PRINCIPAL */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* FOOTER */
footer {
  background-color: #ff7b00;
  color: white;
  text-align: center;
  padding: 10px 0; /* ← más fino */
  margin-top: auto;
  width: 100%;
  font-size: 0.9rem; /* texto un poco más chico */
}
