/* Contenedor centrado */
.form-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formulario */
form {
  width: 250px;
  padding: 30px;
  border-radius: 10px;
 background-color: rgba(240, 248, 255, 0.8); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* centra todos los elementos dentro */
  gap: 15px;
}

/* Agrupación de campos */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
 color: #ff8c00;
 font-family: 'Pacifico';
 font-size: 1.8rem
}
label {
  align-self: flex-start; /* alinea etiqueta al inicio del input */
  font-weight: bold;
  margin-bottom: 5px;
  color: #007bff;
  font-family: "Bricolage Grotesque", sans-serif;

 
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  
}

/* Botón */
button {
  width: 100%;
  padding: 10px;
  background-color:#007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #357ab8;
}

button:disabled {
  background-color: #a0c4f0;
  cursor: not-allowed;
}

/* Error */
.error-message {
  color: red;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}
