html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./app/landingimg.jpg'); /* coloca la imagen en src/assets */
  background-size: cover;       /* hace que la imagen cubra toda la pantalla */
  background-repeat: no-repeat;
  background-attachment: fixed; /* mantiene la imagen fija al hacer scroll */
  background-position: center;
  font-family: "Inter", sans-serif;
}
