<div class="container">

 

  <!-- Mis turnos -->
  <h2 class="titulo">Mis Turnos</h2>

  <table class="tabla">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Servicio</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let t of turnosDelCliente">
        <td>{{ t.fecha }}</td>
        <td>{{ t.hora }}</td>
        <td>{{ t.servicio }}</td>
        <td>
          <span [class]="'estado ' + t.estado.toLowerCase()">{{ t.estado }}</span>
        </td>
      </tr>

      <tr *ngIf="turnosDelCliente.length === 0">
        <td colspan="4" class="text-center">Aún no tenés turnos reservados.</td>
      </tr>
    </tbody>
  </table>

   <!-- Botón para mostrar/ocultar turnos disponibles -->
  <button class="btn-mostrar" (click)="toggleDisponibles()">
    {{ mostrarDisponibles ? 'Ocultar turnos disponibles' : 'Reservar turno' }}
  </button>

  <!-- Turnos disponibles (solo si mostrarDisponibles = true) -->
  <div *ngIf="mostrarDisponibles">
    <h2 class="titulo">Turnos Disponibles</h2>

    <table class="tabla">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Servicio</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let t of turnosDisponibles">
          <td>{{ t.fecha }}</td>
          <td>{{ t.hora }}</td>
          <td>{{ t.servicio }}</td>
          <td><span class="estado disponible">{{ t.estado }}</span></td>
          <td>
            <button class="btn-reservar" (click)="reservar(t)">
              Reservar
            </button>
          </td>
        </tr>

        <tr *ngIf="turnosDisponibles.length === 0">
          <td colspan="5" class="text-center">No hay turnos disponibles.</td>
        </tr>
      </tbody>
    </table>

    <hr />
  </div>

</div>
